[submodule "media"]
	path = media
	url = https://github.com/gongluck/media.git
	branch = main
[submodule "tools"]
	path = tools
	url = https://github.com/gongluck/tools.git
	branch = master
[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/gongluck/3rdparty.git
